
table {
	border-collapse: collapse;
}

td, th {
    padding: 0 7px 0 7px;
    text-align: center;
    border: 1px solid black;
}

.greenBg {
    background-color: green;
}

.orangeBg {
	background-color: orange;
}

.redBg {
	background-color: red;
}

img {
    width: 150px;
}